Source: libgatk-protected-java
Section: non-free/science
Priority: optional
Build-Depends: debhelper (>= 7),ant1.8,ivy,javahelper (>= 0.33),libbcel-java,libarchive-zip-perl (>=1.30-5),openjdk-6-jdk
Maintainer: The Genome Institute <gmt@genome.wustl.edu>
Homepage: http://www.broadinstitute.org/software/allpaths-lg/blog/

Package: libgatk-protected-java
Architecture: amd64
Depends:
Description: The GATK provides analysis tools.  Note: this package cannot be distributed outside TGI 
